@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.pokedex {
  position: relative;
  background-image: url("pokedex.jpg");
  width: 745px;
  height: 541px;
}

.image-area {
  position: absolute;
  /*outline: 1px solid orange;*/
  top: 163px;
  left: 60px;
  height: 160px;
  width: 250px;
}

.pokemon {
  /*outline: 1px solid orange;*/
  display: block;
  margin: 0 auto;
  width: auto;
  height: 150px;
}

.name-area {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  position: absolute;
  text-align: center;
  width: 235px;
  top: 210px;
  left: 450px;
  /*outline: 1px solid orange;*/
}
