.pokedex {
  position: relative;
  background-image: url("pokedex.jpg");
  width: 745px;
  height: 541px;
}

.image-area {
  position: absolute;
  /*outline: 1px solid orange;*/
  top: 163px;
  left: 60px;
  height: 160px;
  width: 250px;
}

.pokemon {
  /*outline: 1px solid orange;*/
  display: block;
  margin: 0 auto;
  width: auto;
  height: 150px;
}
